body {
}
#div-product{
    margin-left:10px;
}
.items{
    background-color:aqua;
    height:270px;
    width:150px;
    float:left;
    margin-left:15px;
    margin-bottom:10px;
}
.fm-img{
    height:150px;
    width:150px;
    border-radius:5px;
}
.btnMua{
    background-color:coral;
    cursor:pointer;
    text-align:center;
    margin-left:50px;
}
