@using BarberShop.Models

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Customer/Views/Shared/_MasterLayout.cshtml";
}

@{
    IEnumerable<SanPham> listSanPham = (IEnumerable<SanPham>)ViewBag.SanPham;
    IEnumerable<DichVu> listDichVu = (IEnumerable<DichVu>)ViewBag.DichVu;
}

<html>
<head>
    <link rel="stylesheet" href="~/Styles/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <section id="banner">
        <div class="banner-text">
            <h1>BARBER SHOP</h1>
            <p>HỆ THỐNG BARBER SHOP HÀNG ĐẦU</p>
            <div class="banner-btn">
                <a href="~/Home/ĐặtLịch"><span></span>Đặt lịch</a>
                <a href="~/Customer/DichVu/Index"><span></span>Dịch vụ</a>
            </div>
        </div>
    </section>
    <!--code about us-->
    <section id="aboutus">
        <div class="title-text">
            <p>GIỚI THIỆU</p>

        </div>
        <div class="aboutus-box">
            <div class="aboutus">

                <h1>Nhân viên chuyên nghiệp</h1>
                <div class="aboutus-desc">
                    <div class="aboutus-icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="aboutus-text">
                        <p>Đội ngũ nhân viên chuyên nghiệp, nhiệt huyết</p>
                    </div>
                </div>


                <div class="aboutus">
                    <h1>Hỗ trợ đặt lịch</h1>
                    <div class="aboutus-desc">
                        <div class="aboutus-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="aboutus-text">
                            <p>Hẹn lịch cắt tóc bất cứ khi nào bạn rảnh</p>
                        </div>
                    </div>
                </div>

                <div class="aboutus">
                    <h1>Giá cả hợp lý</h1>
                    <div class="aboutus-desc">
                        <div class="aboutus-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="aboutus-text">
                            <p>Trải nghiệm hàng loạt dịch vụ hấp dẫn với số tiền hợp lý</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutus-img">
                <img src="~/Images/barber-man.jpg" />
            </div>
        </div>
    </section>
    <!--code about us-->
    <!--code dịch vụ-->
    <section id="service">
        <div class="title-text">
            <p>DỊCH VỤ</p>

        </div>
        <div class="service-box">
            <div class="single-service">
                <img src="~/Images/pic-1.jpg" />
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Nhà tạo mẫu tóc</h3>
                    <hr />
                    <p>Giúp tạo nên những kiểu tóc ưng ý nhất cho bạn</p>
                </div>
            </div>
            <div class="single-service">
                <img src="~/Images/pic-2.jpg" />
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Nhà tạo mẫu tóc</h3>
                    <hr />
                    <p>Giúp tạo nên những kiểu tóc ưng ý nhất cho bạn</p>
                </div>
            </div>
            <div class="single-service">
                <img src="~/Images/pic-3.jpg" />
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Nhà tạo mẫu tóc</h3>
                    <hr />
                    <p>Giúp tạo nên những kiểu tóc ưng ý nhất cho bạn</p>
                </div>
            </div>
            <div class="single-service">
                <img src="~/Images/pic-4.jpg" />
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Nhà tạo mẫu tóc</h3>
                    <hr />
                    <p>Giúp tạo nên những kiểu tóc ưng ý nhất cho bạn</p>
                </div>
            </div>
        </div>
    </section>
    <!--code dịch vụ-->
    <!--Code Sản Phẩm-->
    <section id="product">
        <div class="title-text">
            <p>SẢN PHẨM</p>

            <div class="gallery">
                @if (listSanPham.Any())
                {
                    foreach (var item in listSanPham)
                    {
                        <div class="content-pro">
                            <a href="/Customer/SanPham/ChiTietSanPham?iMaSanPham=@item.MaSanPham" style="text-decoration:none">
                                <img class="pic" src="~/Images/Hard-wax.jpg" />
                                <h2>@item.TenSanPham</h2>
                                <h6>@string.Format("{0:0,0}", item.GiaBan) vnđ</h6>
                            </a>
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSanPham = item.MaSanPham, @strURL = Request.Url.ToString() }))
                            {
                                <input id="SoLuong" name="iSoLuongMua" min="1" value="1" type="number" hidden>
                                <button type="submit" class="buy-1"><b>Mua</b></button>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <!--Code Sản Phẩm-->
</body>
</html>
