<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #div-header {
            height: 40px;
            background-color: aquamarine;
        }

        .fm-menu {
            display: block;
            background-color: chartreuse;
            padding: 5px;
            margin-left: 250px;
            border-radius: 10px;
            margin-top: 5px;
        }

        #div-main {
            width: 100%;
        }

        #div-left {
            width: 20%;
            height:500px;
            float: left;
            background-color:chocolate;
        }

        #div-right {
            width: 80%;
            height: auto;
            background-color: darkgoldenrod;
            float: left;
        }

        #div-footer {
            clear: both;
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    <div id="div-header">Header</div>
    <div id="div-main">
        <div id="div-left">
            <a style="text-decoration:none" href="~/Home/About"><span class="fm-menu">About</span> </a>
            <br />
            <a style="text-decoration:none" href="~/Home/Contact"><span class="fm-menu">Contact</span> </a>
            <br />
            <a style="text-decoration:none" href="~/Home/TestDiv"><span class="fm-menu">Test</span> </a>
        </div>
        <div id="div-right">
            @RenderBody()
        </div>
    </div>
    <div id="div-footer">Footer</div>
</body>
</html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head> 
</html>
