
<link href="~/Content/mystyle/Style-Top-Header.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<div class="top-header">
    <div class="top-header-left">
        <span>
            <i class="fas fa-users"></i>
            <a href="#" class="fm-a">Public relationships</a>
        </span>
        <span>
            <i class="fas fa-search-location"></i>
            <a href="#" class="fm-a">Store</a>
        </span>
        <span>
            <i class="fas fa-phone-volume"></i>
            <a href="#" class="fm-a">0909090990</a>
        </span>
    </div>
    <div class="top-header-center">
        <span>
            @*@<h2>Son goku Card</h2>*@
            <img src="~/Hinh anh/ac2b69d27d3fa50dd7d155f7477e8d5f.jpg" class="fm-img" />
        </span>
    </div>
    <div class="top-header-right">
        <span>
            <i class="fas fa-shopping-basket"></i>
            <a href="#" class="fm-a">Bag</a>
        </span>
        <span>
            <i class="fas fa-users-cog"></i>
            <a href="#" class="fm-a">User</a>
        </span>
    </div>
</div>
<div style="clear: both;width:80%;margin:10%">
    <hr class="fm-line"/>
</div>
<div class="second-header-menu">
    <span class="block-menu">
        <a href="#" class="fm-header-menu-a"> Card</a>
    </span>
    <span class="block-menu">
        <a href="#" class="fm-header-menu-a"> Qualities</a>
    </span>
    <span class="block-menu">
        <a href="#" class="fm-header-menu-a"> About</a>
    </span>
    <span class="block-menu">
        <a href="#" class="fm-header-menu-a"> Blog</a>
    </span>
    <span class="block-menu">
        <input type="search" placeholder="search..." class="iSearch" maxlength="50" />
    </span>
</div>