<!DOCTYPE html>
<html>
<head>
    <title>Responsive Product Cards design with HTML and CSS </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Styles/Product.css" />
</head>
<body>
    <div class="gallery">
        <div class="content">
            <img src="~/Images/ClayWax.jpg" />
            <h3>Totex cosmestic</h3>
            <p>Sản phẩm vô cùng quen thuộc với nam giới</p>
            <h6>300.000vnd</h6>
            
            <button class="buy-1">Mua</button>
        </div>
        <div class="content">
            <img src="~/Images/Hard-wax.jpg" />
            <h3>Hard Wax 8HRS</h3>
            <p>Sản phẩm vô cùng quen thuộc với nam giới</p>
            <h6>340.000vnd</h6>
            
            <button class="buy-2">Mua</button>
        </div>
        <div class="content">
            <img src="~/Images/Cement Clay wax.jpg" />
            <h3>Cement Wax</h3>
            <p>Sản phẩm vô cùng quen thuộc với nam giới</p>
            <h6>400.000vnd</h6>
            
            <button class="buy-3">Mua</button>
        </div>
        <div class="content">
            <img src="~/Images/Wax-1.jpg" />
            <h3>Clay Wax 8HRS</h3>
            <p>Sản phẩm vô cùng quen thuộc với nam giới</p>
            <h6>350.000vnd</h6>
            
            <button class="buy-4">Mua</button>
        </div>
    </div>
</body>
</html>
