
@{
    ViewBag.Title = "TestCSS";
    Layout = "~/Views/Shared/_LayoutDiv.cshtml";
}
<link href="~/Content/mystyle/style-product.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<img src="~/Hinh anh/shopify-brands-solid.svg" alt="Shop" style="width:40px; height:40px;" />

<style>
    h2
    {
        font-family: "Edu AU VIC WA NT Guides", cursive;
        font-optical-sizing: auto;
        font-style: normal;
    }
</style>
<h2>Danh sách các loại hoa </h2>
<div id="div=product">
    <div class="items">
        <div class="div-img">
            <img src="~/Hinh anh/cac-loai-hoa-dep-nhat-the-gioi-6.jpg"
                 alt="hoa ..."
                 title="Hoa hướng dương" class="fm-img" />
        </div>
        <div class="div-des">
            <p><b>Gia: </b> 100000VND</p>
            <p> Hoa hướng dương</p>
            <input type="button" class="btnMua" value="Mua" />
        </div>
    </div>


    <div class="items">
        <div class="div-img">
            <img src="~/Hinh anh/hinh-anh-cac-loai-hoa-dep-nhat-the-gioi.jpg"
                 alt="hoa ..."
                 title="Hoa hồng" class="fm-img" />
        </div>
        <div class="div-des">
            <p><b>Gia: </b> 150.000VND</p>
            <p> Hoa hồng</p>
            <input type="button" class="btnMua" value="Mua" />
        </div>
    </div>


    <div class="items">
        <div class="div-img">
            <img src="~/Hinh anh/hinh-anh-hoa-anh-dao-nhat-ban-vao-mua-dong-lanh-gia_113555983.jpg"
                 alt="hoa ..."
                 title="Hoa anh đào" class="fm-img" />
        </div>
        <div class="div-des">
            <p><b>Gia: </b> 170.000VND</p>
            <p> Hoa anh đào</p>
            <input type="button" class="btnMua" value="Mua" />
        </div>
    </div>


    <div class="items">
        <div class="div-img">
            <img src="~/Hinh anh/hinh-nen-hoa-cuc-trang-dep-nhat-the-gioi-cho-may-tinh.jpg"
                 alt="hoa ..."
                 title="Hoa cúc" class="fm-img" />
        </div>
        <div class="div-des">
            <p><b>Gia: </b> 100.000VND</p>
            <p> Hoa cúc</p>
            <input type="button" class="btnMua" value="Mua" />
        </div>
    </div>


    <div class="items">
        <div class="div-img">
            <img src="~/Hinh anh/y-nghia-hoa-mai-vang-trong-ngay-tet-nam-bo-202102110656262229.jpg"
                 alt="hoa ..."
                 title="Hoa mai" class="fm-img" />
        </div>
        <div class="div-des">
            <p><b>Gia: </b> 50.000VND</p>
            <p> Hoa mai</p>
            <input type="button" class="btnMua" value="Mua" />
        </div>
    </div>

</div>

